<div class="weather-container">
  <div class="first">
    <p>{{ weatherLocation1 }}</p>
    <p>{{ localTime1 }}</p>
    <div class="weather-details">
      <span
        ><img src=" {{ weatherConditionIcon1 }}" />
        {{ weatherConditionText1 }}
        {{ weatherTemp1 }}ºC</span
      >
    </div>
  </div>
  <div class="second">
    <p>{{ weatherLocation2 }}</p>
    <p>{{ localTime2 }}</p>
    <div class="weather-details">
      <span
        ><img src=" {{ weatherConditionIcon2 }}" />
        {{ weatherConditionText2 }}
        {{ weatherTemp2 }}ºC</span
      >
    </div>
  </div>
</div>
