/* You can add global styles to this file, and also import other style files */
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  /* background-image: url(https://images.unsplash.com/photo-1533387520709-752d83de3630?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fG5hdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60); */
  background-position: fixed;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(21, 23, 23);
  font-family: Arial, Helvetica, sans-serif;
  /* text-shadow: 0px 0px 10px #242424; */
}
